.embed-responsive-16by9 {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
.embed-responsive-16by9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  margin-top: 42px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* CSS untuk mengatur lebar tetap */
.fixed-width-nav-button {
  width: 100px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%; /* Pastikan gambar mengisi tinggi carousel */
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 1400px) {
  #myCarousel {
    height: 75vh; /* Tinggi 70% dari tinggi viewport */
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 0 10px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #0aae7c;
  font-size: 4em;
}

.navbar-nav .nav-link {
  white-space: nowrap;
  /* Mencegah teks untuk melipat ke baris baru */
}

.tooltip-inner {
  background-color: #0e9566;
  opacity: 1 !important;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: #0e9566 !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: #0e9566 !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #0e9566 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #0e9566 !important;
}
